@model IEnumerable<MedalCategory>

<table class="ui celled definition table">
	<thead>
		<tr>
			<th>名称</th>
			<th>描述</th>
			<th>排序值 <i class="fas fa-question-circle help" data-toggle="tooltip" title="在展示同级别的多个勋章分类时，排序值较小的项目将会出现在更前面。如果有两个项目的排序值相同，则它们显示顺序将无法确定。"></i></th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr data-id="@item.Id" data-name="@item.Name">
				<td>
					<a asp-controller="Category" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a>
				</td>
				<td>
					@if (!string.IsNullOrEmpty(item.Description))
					{
						<span>@item.Description</span>
					}
					else
					{
						<span class="text-muted">无</span>
					}
				</td>
				<td>@item.SortOrder</td>
				<td>
					<div class="ui mini buttons">
						<a class="ui secondary button" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">编辑</a>
						<a class="ui red button">删除</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

<form asp-controller="Category" asp-action="Delete" method="post" asp-antiforgery="true" asp-route-returnUrl="@Url.Action()" id="delete-category-modal" class="ui small modal">

	<input type="hidden" name="id" id="delete-category-id" />

	<i class="close icon"></i>
	<div class="header">
		<i class="warning icon"></i> 删除分类警告
	</div>
	<div class="content">

		<p>你确定要分类勋章 <strong id="delete-category-name"></strong> 吗？这个操作无法撤销。</p>

		<div class="ui warning message">
			删除分类后，这个分类中目前包含的所有勋章都将被自动设定为<q>未分类</q>状态，而原本在此分类中的子分类也将自动变成顶级分类（即不再属于其它分类）。你可能需要手动重新调整这些勋章和子分类的所属位置，以避免展示时发生混乱。
		</div>

		<div class="ui divider"></div>
		<p>如果你确定希望删除勋章，请单击下面的<q>删除勋章</q>按钮。如果你需要已经有人拥有的勋章，请联系系统管理员。</p>
	</div>
	<div class="actions">

		<button class="ui red button" type="submit">
			删除勋章
		</button>
		<div class="ui secondary button">
			取消
		</div>

	</div>

</form>



<script>

	function onDelete(ele) {

		var row = $(ele).closest('tr');
		var id = $(row).data('id');
		var name = $(row).data('name');



		$('#delete-category-id').val(id);
		$('#delete-category-name').text(name);

		$('#delete-category-modal').modal('show');

	}

</script>